---
import Layout from "./Layout.astro";
// 1. The frontmatter prop gives access to frontmatter and other data
const { frontmatter } = Astro.props;
---

<Layout title={frontmatter.title}>
  <html>
    <head>
      <!-- Add other Head elements here, like styles and meta tags. -->
      <title>{frontmatter.title}</title>
    </head>
    <body>
      <!-- Add other UI components here, like common headers and footers. -->
      <h1>{frontmatter.title} by {frontmatter.author}</h1>
      <!-- 2. Rendered HTML will be passed into the default slot. -->
      <slot />
      <p>Written on: {frontmatter.date}</p>
    </body>
  </html>
</Layout>
